.GeneralEncargadoLimpieza {
    display: grid;
    grid-template-rows: auto auto auto; 
    row-gap: 1rem;
    justify-items: center;
    width: 50%;
    background-color: #f5f5f5;
    padding: 1rem;
    border-radius: 1rem;
    justify-content: center;
    margin: 2rem auto; 
}

.fotoPerfil {
    object-fit: cover;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #d9d9d9; /* placeholder */
    border: 3px solid #ccc;
}

.Titulo {
    text-align: center;
    margin: 0;
}

.tituloinfo {
    grid-template-rows: auto auto auto;
    
    display: grid;
    place-items: center;
    row-gap: 0.5rem;
}