


body{
    /* margin: 15px; */
    background-color: lightgray;
}

.container-FRM{
    text-align: center;
    margin: auto ;
    background-color: lightblue;
    margin-top: 15px;
    width: 50%;
    border-radius: 5%;
}

button{
    background: rgb(40, 126, 184);
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 8%;
    height: 30%;
    width: 30%;
    border-width: 2px;
}